@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 896px;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    height: 460px;
    background: linear-gradient(135deg, #8589FF 0%, #E8E9FF 100%);
    clip-path: ellipse(130% 100% at 50% 0%);
    padding: 30px;
}

.main h1 {
    color: white;
    font-size: 120px;
    font-family: Roboto;
    font-weight: 300;
}

.main h2 {
    color: white;
    font-size: 34px;
    font-family: Roboto;
    font-weight: 300;
}

.main p {
    color: white;
    font-size: 22px;
    font-family: Roboto;
    font-weight: 300;
}

nav {
    margin-bottom: 70px;
}

/* .main>img {
    position: absolute;
    top: 64px;
    right: 26px;
    height: 152px;
    width: auto;
    z-index: -1;
} */

.weather-icon {
    position: absolute;
    max-width: 200px;
    top: 64px;
    right: 26px;
    width: 200px;
    height: auto;
}

.icon {
    max-width: inherit;
    position: absolute;
}

.sun {
    width: 180px;
    right: 0;
    animation: spin 6s infinite ease;
}

.big-cloud {
    width: 180px;
    right: 0;
    /* animation: hover 8s infinite ease; */
}

.small-cloud {
    width: 140px;
    top: 30px;
    animation: hover 8s reverse infinite ease;
}

.sun-cloud {
    width: 180px;
    top: 30px;
    right: 0;
}

.sun-small {
    width: 120px;
    right: 0;
    animation: spin 6s infinite ease;
}


.containerTime {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    max-width: 414px;
}

.action-button {
    background-color: #757AFF;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 1;
    right: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}

/* css for containerSub */

.subMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    padding: 60px 30px 30px 30px;
}

.subMain img {
    height: auto;
    max-width: 28px;

}

.subRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.subMain p {
    color: #707070;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
}

.subMain .wrapper {
    display: flex;
    gap: 50px;
}


/* media queries */

@media only screen and (min-width: 600px) {

    /* For tablet: */
    .main {
        padding: 30px 50px 30px 50px;
    }

    .subMain {
        padding: 60px 50px 30px 50px;
    }

    .action-button {
        right: 50px;
    }

    .main>img {
        right: 50px;
    }
}

@media only screen and (min-width: 1000px) {

    /* For desktop: */
    .main {
        padding: 30px 300px 30px 300px;
    }

    .subMain {
        padding: 60px 300px 30px 300px;
    }

    .action-button {
        right: 300px;
    }

    .main>img {
        right: 300px;
    }
}

@keyframes hover {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateY(2px);
    }

    50% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0) scale(1);
    }

    25% {
        transform: rotate(2deg) scale(1.05);
    }

    50% {
        transform: rotate(0) scale(1);
    }

    75% {
        transform: rotate(-2deg) scale(1.05);
    }

    100% {
        transform: rotate(0) scale(1);
    }
}